:root {
    --aqua-fresh: rgb(74, 188, 173);
    --orange-vermillion: rgb(255, 73, 27);
    --yellow-sunshine: rgb(248, 183, 50);
    --grey-clean: rgb(224, 220, 228);
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
    font-size: 2em;
}
  
h2 {
    font-size: 1.5em;
}

.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}

.quiz-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 150px;
}
  
/* CTA */
.cta {
    border: none;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}
  
.cta:hover {
    opacity: 0.6;
}
  
.cta-primary {
    background-color: var(--orange-vermillion);
    color: var(--yellow-sunshine);
    border-radius: 15px;
}
  
/* Form */
.quiz-form {
    background-color: var(--aqua-fresh);
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%;
    color: var(--grey-clean);
}
  
.form-error-text {
    color: var(--red);
}
  
.form-group {
    display: flex;
    flex-flow: column;
    margin: 0.5rem 0;
}
  
.form-title {
    font-size: 2.4rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.2rem;
}
  
.form-label {
    font-size: 1rem;
}
  
.form-input {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    border-radius: 15px;
    padding: 11px;
    width: 40%;
}
  
.form-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem
}
  
.question-title {
    font-size: 1.8rem;
    font-weight: 150;
    margin: 1.2rem 0 1.2rem 0;
}

.quiz-button {
    font-size: 1.2rem;
    display: inline;
    margin: 12px;
}

.question-results {
    font-style: italic;
    margin-top: 1.5rem;
    font-size: 1.8rem;
}

/* Final Score Area */
.enter-initials-container {
    display: flex;
    justify-content: space-around;
}

.initials-button {
    font-size: 1.2rem;
}

/* High Scores Area  */
.saved-scores-container {
    display: block;
    text-align: center;
}

.scores-title {
    margin-right: 1.2rem;
    margin-left: 1.2rem;
}

/* Footer Styles */

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 150px 0 150px;
}

footer a {
    text-decoration: none;
    color: var(--orange-vermillion);
}

.go-back-button {
    text-decoration: none;
}
  
.view-highscores {
    flex: 1 0 auto;
    background-color: var(--grey-clean);
    border-radius: 15px;
}

.display-inline {
    display: inline;
}